@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
    letter-spacing: 2px;
    outline: 0;
    padding: 0;
    margin: 0;
}

html { 
    scroll-behavior: smooth; 
}

body {
    width: 100%;
    background-color: #fdfdfd; 
}

a {
    transition: all 0.4s;
}

h1 {
    color: teal;
    margin: 25px 10px;
    text-align: center;
    text-transform: uppercase;
}

h2 { 
    margin: 20px 0px 10px;  
    text-transform: capitalize;
    border-bottom: 1px solid black; 
}

button {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cabecalho { 
    width: 100%;
    height: 60px;
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho span {
    color: teal;
    margin: 0px 10px;
    font-size: 1.5em;
    text-transform: uppercase;
}

.navegacao {
    display: flex;
    list-style: none;
}

.navegacao li {
    height: 100%;
}

.navegacao li a {
    height: 60px;
    color: #fff;
    display: block;
    padding: 0px 14px;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao li a:hover {
    background-color: teal;
}

.bt-navegacao {
    z-index: 100;
    color: #fff;
    display: none;
    font-size: 1em;
    background-color: #333;
}

.bt-cabecalho {
    display: flex !important;
}

.principal {
    width: 100%;
    padding: 10px;
}

.secao { 
    display: grid;
    row-gap: 10px;  
    column-gap: 10px;  
    grid-template-columns: auto auto auto auto auto;
}

.container-imagem {
    width: 100%;
    height: 100%;
}

.container-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in;
}

.container-imagem img:hover {
    transform: scale(1.1); 
}
 
.rodape {
    width: 100%;
    padding: 25px 10px;
    background-color: #333;

    display: flex;
    justify-content: center;
}

.rodape a {
    margin: 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.rodape a:hover {
    color: teal;
}

.rodape a i {
    font-size: 1.8em;
}

.bt-topo {
    right: 30px;
    bottom: 30px;
    color: #fff;
    position: fixed;
    font-size: 1em;
    transition: all 0.4s;
    background-color: teal;
    
    z-index: 50;
    display: none;
}

.bt-topo:hover {
    background-color: #444;
}

@media (max-width: 1024px) {
    .secao {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 768px) {
    .bt-navegacao {
        display: block;
    }

    .navegacao {
        position: absolute;
        display: none;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        flex-direction: column;
        background-color: #333; 
    }

    .navegacao li {
        height: 25%;
    }

    .navegacao li a {
        height: 100%;
        justify-content: center;
    }

    .secao {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 600px) {
    .secao {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    .secao {
        grid-template-columns: auto;
    }
}