@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
    letter-spacing: 2px;
    outline: 0;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcfcfc;
}

h3, p {
    color: white;
    padding: 10px;
}

button {
    background-color: #333;
    transition: all 0.4s;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
}

.cabecalho { 
    padding: 60px;
}

.cabecalho h1 {
    color: teal;
    text-align: center;
    text-transform: uppercase;
}

.principal {
    width: 100%;
    padding: 10px;
}

.containerGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerImagem {
    padding: 10px;
    flex-basis: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  gray;
    background-color:teal;
}

.containerImagem img {
    width: 100%;
    object-fit: cover;
}

.containerImagem img:hover {
    opacity: 0.7;
    cursor: pointer;
}  

.containerPaginas {
    display: flex;
    justify-content: center;
}

.containerPaginas button {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.containerPaginas button:hover, .ativo {
    background-color: teal;
}

.rodape {
    width: 100%;
    display: flex;
    padding: 25px 10px;
    justify-content: center;
    background-color: #333;
}

.rodape a {
    margin: 10px;
    color: white;
    transition: all 0.4s;
    text-decoration: none;
}

.rodape a:hover { color: teal; }

.rodape a i { font-size: 2rem; }

@media (max-width: 768px) {
    .containerImagem {
        flex-basis: 45%;
    }
}

@media (max-width: 600px) {
    .containerImagem {
        flex-basis: 100%;
        margin: 20px;
    }
}
